[Unit]
Description=easySVA backend
After=network.target mariadb.service redis-server.service easysva-stream-restore.service
Requires=mariadb.service redis-server.service
Wants=easysva-stream-restore.service

[Service]
Type=simple
WorkingDirectory=/opt/SVA/backend
ExecStart=/usr/lib/jvm/java-17-openjdk-amd64/bin/java -jar /opt/SVA/backend/backend.jar --ruoyi.profile=/var/www/SVA-web/upload
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
