[Unit]
Description=easySVA analyzer
After=network.target easysva-backend.service easysva-media.service
Requires=easysva-backend.service easysva-media.service

[Service]
Type=simple
WorkingDirectory=/opt/SVA/server
ExecStart=/opt/SVA/server/easysva-analyzer-launcher.sh -f /opt/SVA/config.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
